<div class="row">
   <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
         <span class="text-muted">Truyện hay</span>
         <span class="badge badge-secondary badge-pill">5</span>
      </h4>
      <ul class="list-group mb-3">
         <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
               <h6 class="my-0">Anh Hùng Xạ Điêu</h6>
               <small class="text-muted">Kim Dung</small>
            </div>
            <span class="text-muted">250164</span>
         </li>
         <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
               <h6 class="my-0">Kiếm Đạo Độc Tôn</h6>
               <small class="text-muted">Kiếm Du Thái Hư</small>
            </div>
            <span class="text-muted">240069</span>
         </li>
         <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
               <h6 class="my-0">Linh Vũ Thiên Hạ</h6>
               <small class="text-muted">Vũ Phong</small>
            </div>
            <span class="text-muted">231569</span>
         </li>
         <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
               <h6 class="my-0">Anh Hùng Xạ Điêu</h6>
               <small class="text-muted">Kim Dung</small>
            </div>
            <span class="text-muted">250164</span>
         </li>
         <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
               <h6 class="my-0">Kiếm Đạo Độc Tôn</h6>
               <small class="text-muted">Kiếm Du Thái Hư</small>
            </div>
            <span class="text-muted">240069</span>
         </li>
      </ul>
   </div>
   <div class="col-md-8 order-md-1">
      
      <!-- Storyfull -->
      <div class="storyfull">
         <h4 class="mb-3">Truyện full</h4>
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div>
                     <img width="140" height="182" src="http://webtruyen.com/public/images/anhhungxadieuj5inch96mV.jpg" />
                     <div class="caption">
                        <div class="caption1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">                    
                           <a class="nav-link" [routerLink]="['/infopage']">Anh Hùng Xạ Điêu</a>
                           
                        </div>
                     </div>
                  </div>
                  
                  
               </div>
               <div class="col-md-3">
                  <div>
                     <img width="140" height="182" src="http://webtruyen.com/public/images/thienlongbatbobanmoi9QDrHArLLw.jpg" />
                     <div class="caption">
                        <div class="caption1">
                           <a href="#">Thiên Long Bát Bộ (Full)</a>
                           
                        </div>
                     </div>
                  </div>
                  
                  
               </div>
               <div class="col-md-3">
                  <div>
                     <img width="140" height="182" src="http://webtruyen.com/public/images/ythiendolongkySzaBd3R2IB.jpg" />
                     <div class="caption">
                        <div class="caption1">
                           <a href="#">Ỷ Thiên Đồ Long Ký</a>
                           
                        </div>
                     </div>
                  </div>
                  
                  
               </div>
               <div class="col-md-3">
                  <div>
                     <img width="140" height="182"  src="http://webtruyen.com/public/images/tieungaogianghovsB2P2GxUV.jpg" />
                     <div class="caption">
                        <div class="caption1">
                           <a href="#">Tếu Ngạo Giang Hồ</a>
                           
                        </div>
                     </div>
                  </div>
                  

               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                 <div>
                  <img width="140" height="182" src="http://webtruyen.com/public/images/thandieudaihiepX71vgCjf4V.jpg" />
                  <div class="caption">
                     <div class="caption1">
                        <a href="#">Thần Điêu Đại Hiệp</a>
                        
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
              <div>
               <img width="140" height="182" src="http://webtruyen.com/public/images/kiemdaodoctonUtohorN4au.jpg" />
               <div class="caption">
                  <div class="caption1">
                     <a href="#">Kiếm Đạo Độc Tôn</a>
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
           <div>
            <img width="140" height="182" src="http://webtruyen.com/public/images/linhvuthienhaMjpr5x9rJ9.jpg" />
            <div class="caption">
               <div class="caption1">
                  <a href="#">Linh Vũ Thiên Hạ</a>
                  
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div>
            <img width="140" height="182" src="http://webtruyen.com/public/images/sanodocpHVhmTKJ2X.jpg" />
            <div class="caption">
               <div class="caption1">
                  <a href="#">San Ô Độc</a>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- Liststory -->
<div class="listhome">
   
   <div class="list" >
      <a class="nav-link" *ngFor="let story of data"  (click)="onSelect(story._id)" id="{{story._id}}">
         {{story.storyName}} 
         <span>- {{story.numberOfChapters}} chương</span>
      </a>
      
   </div>
</div>
</div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
   <p class="mb-1">&copy; 2017-2018 Project 3</p>
   <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
   </ul>
</footer>